<h1>WeirdAnimalCombo#index</h1>

<p>it's working!@@@!!!</p>

<% if (@combo != nil)%>
  <%= render 'shared/finishedAnimal', @combo %>
<% else%>
  <H2>No records exist</H2>
<% end %>
<p>
  <%= link_to 'New', weird_animal_combo_new_path %>
</p>
